*{
    margin: 0;
    padding: 0;
}

.fade-enter,
.fade-leave-to{
    opacity: 0;
}
.fade-enter-active,
.fade-enter-leave{
    transition:opacity 1s;
}


.close_display{
    display: none;
}

.logo_group{
    display: flex;
    justify-content: center;
    align-content: center;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items:center;
}

.logo_group>.icon{
    width: 50px;
    height: 50px;
}

.logo_group>.title{
    letter-spacing:3px;
    padding: 0px 7px;
}



nav{
    width: 960px;
    display: flex;
    justify-content: space-between;
    margin: auto;
    padding-top: 10px;
    margin-bottom: 20px;
}

nav>ul{
    padding-right: 20px;
}

nav>ul>li{
    display: inline-block;
    list-style: none;
}
nav>ul>li>a{
    color: black;
    font-weight: bolder;
    text-decoration: none;
    padding: 0 15px;
    line-height: 50px;
}


.search{
    position: absolute;
    top:450px;
    left: 50%;
    transform: translate(-50%);
    display: flex;
    width: 850px;
    background-repeat: none;
    /* height: 500px; */
    justify-content:center;
    flex-direction:row;

}

.search>.sel_menu{
    appearance:none;
    -moz-appearance:none;
    -webkit-appearance:none;
    /* 去除箭頭包含下拉選單預設樣式 */
    
    text-align: center;
    text-align-last: center;
    /*上下左右文本置中 */

    width: 120px;
    /* padding: 0 20px; */
    /* 調整select大小用padding,width會讓下方option無效無法置中 */
    height: 60px;
    line-height:60px ;

    background-color:rgba(233, 222, 222, 0.7);
    font-size: 25px;
    font-weight: bolder;
    color: rgba(95, 93, 93, 0.8);
    border: 2px solid rgba(233, 222, 222, 0.8); 
    border-bottom-left-radius:20px;
    border-top-left-radius: 20px;
    box-sizing: border-box;
    
    -webkit-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
    /*下拉動畫特效  */

    overflow: hidden;
    /* 超過高度的內容隱藏 */
}

.search>.sel_menu:hover{
    height: auto;
    border-bottom-right-radius:20px;
    border-top-right-radius:20px;
}


.search>.sel_menu>ul>li:hover{
    height: auto;
    background-color:rgba(202, 200, 200, 0.698);
}





/* .search>.sel_menu>option:root{
    margin: -5px;
    border-radius:0px;
    border-top-right-radius: 30px;
    border-top-left-radius: 30px;
} */

.search>.sel_menu:focus{
    border:none;
    outline:none;
}



.search>.sel_menu>option{
    /* width: 120px; */
    /* 寬度無法有效控制option,只能用padding設定 */
}


/* .search>ul>li>a{
    text-decoration: none;
    font-size: 25px;
    font-weight: bolder;
    height: 60px;
    color: rgba(95, 93, 93, 0.8);
}
 */

.search>input{
    width: 650px;
    padding-left: 15px;
    font-weight: bolder;
    margin-left: 5px;
    font-size: 25px;
    border: 2px solid rgba(233, 222, 222, 0.8);
    height: 60px;
    background:rgba(233, 222, 222, 0.8);
    border-bottom-right-radius: 0px;
    border-top-right-radius: 0px;
    box-sizing: border-box;
    border-right-style: none;
}

.search>input:focus{
    outline: none;
}

.search>.fa-search{
    height: 60px;
    line-height: 60px;
    padding-right:30px;
    font-size: 25px;
    border-bottom-right-radius: 40px;
    border-top-right-radius: 40px;
    background:rgba(233, 222, 222, 0.8);
    border: 2px solid rgba(233, 222, 222, 0.8);
    border-left-style: none;
    box-sizing: border-box;
    color: rgba(95, 93, 93, 0.7);
}




.banner{
    display: flex;
    width: 960px;
    height: 500px;
    margin: auto;
    border-radius: 15px;
}

.block{
    width:100%;
    height:100%;
    background-color:#000;
    filter:alpha(opacity=50);
    -moz-opacity:0.5;
    opacity:0.5;
    position:fixed;
    left:0px;
    top:0px;
    /* display:none; */
    z-index:1;
}




.signin{
    /* display: none; */
    z-index:2;
    position: fixed;
    top:100px;
    bottom: 0;
    left: 0;
    right: 0;
    letter-spacing:3px;
    /* background: #aaa; */
    width: 500px;
    height: 650px;
    border-radius:30px;
    border: 2px;
    margin: auto;
    background-color: rgba(233, 222, 222, 0.8);
}


.signin>.t_group{
    padding-top: 50px;
    padding-bottom: 20px;
    width: 500px;
    height: 80px;
    display: flex;
    flex-direction: column;
    align-items: center; 
    /* justify-content: center;  */
}
.signin>.t_group>.wrap{
    display: flex;
    align-items: center; 
    justify-content: center;
    margin-bottom: 60px;
}
.signin>.t_group>.wrap>.icon{
    width: 80px;
    
    height: 80px;
    border-radius:10px;
    text-align: center;
}

.signin>.t_group>.wrap>.title{
    margin: 30px;
    font-size: 40px;
    /* border: 3px solid red; */
}

.signin>.t_group>img{
    margin:20px ;
    width: 400px;
    border-radius: 10px;
}

.signin>a,.top_anno>p{
    font-weight: bolder;
    display: flex;
    margin: auto;
    align-items: center; 
    justify-content: center;
}

.signin>p.intro{
    text-align:center;
    font-size: 30px;
    padding: 30px;
    margin: 0 20px;
}

.signin>a.button{
    color:white;
    text-decoration: none;
    background-color:#d67f7f;
    width: 80%;
    padding: 25px;
    border-radius:10px;
    margin-bottom: 10px;
    font-size: 20px;
}




.top_anno{
    /* display: none; */
    z-index:2;
    position: fixed;
    top:100px;
    bottom: 0;
    left: 0;
    right: 0;
    letter-spacing:3px;
    /* background: #aaa; */
    width: 500px;
    height: 650px;
    border-radius:30px;
    border: 2px;
    margin: auto;
    background-color: rgba(233, 222, 222, 0.8);
}

.top_anno>.t_group{
    padding-top: 50px;
    padding-bottom: 20px;
    width: 500px;
    height: 80px;
    display: flex;
    align-items: center; 
    justify-content: center; 
}

.top_anno>.t_group>.icon{
    width: 80px;
    height: 80px;
    border-radius:10px;
}

.top_anno>.t_group>.title{
    margin: 30px;
    font-size: 40px;
    /* border: 3px solid red; */
}

.top_anno>.map_icon{
    width: 200px;
    height: 200px;
    display: flex;
    border-radius:150px;
    margin: auto;
}

.top_anno>a,.top_anno>p{
    font-weight: bolder;
    display: flex;
    margin: auto;
    align-items: center; 
    justify-content: center;
}

.top_anno>p.intro{
    text-align:center;
    font-size: 30px;
    padding: 30px;
    margin: 0 20px;
}

.top_anno>a.button{
    color:white;
    text-decoration: none;
    background-color:#d67f7f;
    width: 80%;
    padding: 25px;
    border-radius:10px;
    margin-bottom: 10px;
    font-size: 20px;
}

a.text{
    color: #d67f7f;
    font-size: 20px;
    margin-top:20px;
}

sub_nav{
    /* border: 5px solid red; */
}

sub_nav>ul{
    display: flex;
    width: 960px;
    margin: 20px auto;
    /* margin: 20px 0px;
    margin-left: 40px; */
}

sub_nav>ul>li{
    margin-right: 15px;
    margin-left: 15px;
    padding: 10px 15px;
}

sub_nav>ul>li:first-child{
    border-bottom:5px solid #d67f7f;
}

sub_nav>ul>li>a{
    font-size: 30px;
    text-decoration: none;
    color:#54514e;
    font-weight: bold;
}


/* 
.sub_page{
    height: 1980px;
} */
.sub_page>.title{
    margin: auto;
    margin-top: 60px ;
    margin-bottom: 15px ;
    width:250px;
    color:#d67f7f;
    font-size: 45px;
    font-weight: bolder;
    padding-bottom: 10px;
    border-bottom: 3px solid #d67f7f;
}

.sub_page>ul{
    width: 960px;
    /* height: 100%; */
    margin: 0px auto;
}

.sub_page>ul>li{
    margin: 50px auto;
    display: flex;
}
.sub_page>ul>li>img{
    box-shadow: 1px 1px 10px 1px;
    border-radius: 10px
}
.sub_page>ul>li>.text{
    /* width: 560px; */
    margin: 0px 20px;
    position: relative;
    flex-grow: 1;
    width: 0;
}

.sub_page>ul>li>.text>.title{
    width: 520px; 
    font-size:25px;
    font-weight: bolder;
    white-space: nowrap;
    text-overflow:ellipsis;
    overflow:hidden ;
}

.sub_page>ul>li>.text>.content{
    margin: 10px 0px;
    /* position: relative; */
    font-size:15px;
    line-height:30px;
    display: -webkit-box;
    text-overflow:ellipsis;
    overflow:hidden ;
    -webkit-line-clamp: 4;
    -webkit-box-orient: vertical;
}


.sub_page>ul>li>.text>.comment{
    position:absolute;
    bottom: 0;
    right: 0;
    color:rgb(83, 82, 82,0.7);
    /* flex-direction:; */
}
.sub_page>ul>li>.text>.comment>i{
    font-size: 16px;
    padding: 10px;
    line-height: 25px;
}

.sub_page>ul>li>.text>.comment>span{
    font-size: 16px;
    line-height: 25px;
}


.more_btn{
    margin: auto;
    padding: 20px 20px;
    width:900px;
    text-decoration: none;   
    background: rgb(83, 82, 82,0.1);
    font-size: 40px;
    border-radius: 10px;
    color: rgb(83, 82, 82,0.7);
    font-weight: bolder;
}

.morSe_btn{
        margin: auto;
    /* margin-top: 60px; */
    padding: 20px 20px;
    /* width:900px; */
    text-decoration: none;   
    background: rgb(83, 82, 82,0.1);
    font-size: 40px;
    border-radius: 10px;
    color: rgb(83, 82, 82,0.7);
    font-weight: bolder;
}


.footer{
    width: 960px;
    height: 350px;
    margin: 80px auto;
    margin-top: 0px;
    /* background: #e29a9a; */
    
}

.footer>.wrap{
    display: flex;
    padding: 40px 60px;
    background: #e29a9a;
}
.footer>.wrap>ul{
    margin-right: auto;
    letter-spacing:3px;
}

.footer>.wrap>ul>li:first-child{
    font-weight: bolder;
}


.footer>.wrap>ul>li>a{
    
    text-decoration: none;
    font-size: 20px;
    color: white;
    line-height: 30px;
    flex-direction: row;
}

.footer>.wrap>ul>li.icon>img{
    width: 50px;
    height: 50px;
}
.footer>.wrap>ul>li>.googleplay{
    width:150px;
    height: 60px;
}










.signup{
    background:#f5f5f5;
    position: relative;
    width: 960px;
    height: 800px;
    margin: auto;
    /* border: 2px solid blue; */
}
.signup>.container{ 
    width: 900px;
    top:50px;
    left: 20px;
    position: absolute;
    display: flex;
}

.signup>.container>.list{
    background: #f5f5f5;
    width: 250px;
    height: 550px;
    /* border: 2px solid red; */
}

.signup>.container>.list>.profile{
    width: 220px;
    height: 280px;
    /* box-shadow:2px 2px 4px #666; */
    background: rgba(255, 255, 255, 0.7);
    border-radius: 10px;
    /* display: flex;
    justify-content: center; */
    /* align-items: center;  */
}

.signup>.container>.list>.profile>.photo{
    width: 120px;
    position: relative;
    border-radius: 60px;
    margin: auto;
    height: 220px;
}

.signup>.container>.list>.profile>.photo>.big{
    border-radius: 60px;
    position: absolute;
    top: 20px;
}
.signup>.container>.list>.profile>.photo>.sm{
    border-radius: 60px;
    background:white;
    color: gray;
    position: absolute;
    width: 30px;
    height: 30px;
    top: 110px;
    left: 90px;
}

.signup>.container>.list>.profile>.photo>.lname{
    color: gray;
    width: 120px;
    margin: auto;
    font-size: 20px;
    text-align: center;
    font-weight: bolder;
    position: absolute;
    top:155px;
}

.signup>.container>.list>.profile>.login_mode{
    display: flex;
    height: 60px;
    border-top: 3px solid #f5f5f5;
    align-items: center; 
}

.signup>.container>.list>.profile>.login_mode>img{
    padding: 5px;
    margin-left: 5px;
    width: 20px;
    height: 20px;
    /* align-items: center;  */
}

.signup>.container>.list>.profile>.login_mode>p{
    margin: 0;
    padding: 0;
    width: 140px;
    font-size: 14px;
    font-weight: bolder;
    justify-content:flex-start;
    line-height: 14px;
}
.signup>.container>.list>.profile>.login_mode>.checkmark{
    width: 20px;
    height: 20px;
    justify-content:flex-end;
}

.signup>.container>.list>.setting{
    /* margin: auto; */
	display: flex;
    justify-content: center;
    align-items: center; 

    /* box-shadow:2px 2px 4px #666; */
    margin-top: 20px;
    width: 220px;
    height: 250px;
    /* border: 2px solid black; */
    border-radius: 10px;
    background: rgba(255, 255, 255, 0.6);
}

.signup>.container>.list>.setting>ul>li{
    padding: 15px;
    font-size: 20px;
    font-weight: bolder;
}


.signup>.container>.data{
    /* box-shadow:2px 2px 4px #666; */
    width:650px;
    height: 550px;
    /* border: 2px solid purple; */
    background: rgba(255, 255, 255, 0.6);
    border-radius: 10px;
}

.signup>.container>.data>.title{
    font-size: 26px;
    font-weight: bolder;
    margin:20px 10px;
}

.signup>.container>.data>.nav{
    display: flex;
    border-bottom-width: 1px;
    border-style: solid ;
    list-style: none;
    border-color:rgb(196, 196, 196);
    border:none none 1px none;
    margin-bottom: 5px;
}


.signup>.container>.data>.nav>li{
    margin: 0 15px;
    padding:10px 15px;
    font-size: 20px;
    font-weight: bold;
}

.signup>.container>.data>.nav>li:first-child{
    border-bottom-width: 4px;
    border-style: solid ;
    list-style: none;
    border-color: #d67f7f;
}

.signup>.container>.data>.info{
    width: 550px;
    margin: 0 5px;
    display: flex;
    flex-wrap: wrap;
}
.signup>.container>.data>.info>.group{
    margin: 10px;
}
.signup>.container>.data>.info>.group>.title{
    margin-top: 10px;
    margin-bottom: 4px;
    margin-left: 4px;
    font-weight: bold;
}

.signup>.container>.data>.info>.group>input{
    width: 250px;
    font-size: 25px;
    border-style: solid;
    border-width: 1px;
    border-color: rgba(170, 168, 168, 0.836);
}

.signup>.container>.data>.button{
    position: absolute;
    bottom: 30px;
    right: 30px;
    padding: 15px 25px;
    background: #d67f7f;
    border-radius: 5px;
    text-decoration: none;
    color: snow;
}



.container{
    width: 960px;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    background:#f5f5f5;
}

.container>.line{
    width: 960px;
    margin: 0 auto;
    display: flex;
}

.container>.b_line{
    padding: 50px 0px;
}
.container>.line>.profile{
    /* border: 3px solid red; */
    width: 70%;
}


.container>.line>.profile>.photo{
    display: flex;
    align-items:flex-start;
    margin: 10px;
}
.container>.line>.profile>.photo>img{
    border-radius: 30px;
}

.container>.line>.profile>.photo>.right{
    margin: 10px 5px;
    font-size: 12px;
}

.container>.line>.profile>.photo>.right>.name{
    padding: 0 10px;
    text-align: right;
}

.container>.line>.profile>.photo>.right>.name>a{
    margin: 0 4px;
    font-weight: bolder;
    border: 1px solid #aca9a9;
    padding: 5px;
    text-decoration: none;
    color: #aca9a9;
}

.container>.line>.profile>.photo>.right>.birthday{
    padding: 5px;
}

.container>.line>.profile>.intro{
    margin: 10px 0;
    line-height: 20px;
    font-size: 10px;
    padding: 10px;
    /* border: 3px solid rgb(192, 185, 185); */
    /* width: 70%;如果要縮小文字的範圍在解開*/
}

.container>.line>.profile>.btn_group{
    margin: 10px;
    display: flex;
    flex-direction:row;
    justify-content: space-between;
}

.container>.line>.profile>.btn_group>a{
    align-self: center;
    border: 2px solid rgb(83, 82, 82,0.7);
    color:  rgb(83, 82, 82,0.7);
    text-decoration: none;
    background-color: white;
    font-weight: bolder;
    padding: 0;
    height: 20px;
    font-size: 15px;
    margin: 0;
    padding: 0 10px;
}
.container>.line>.profile>.btn_group>.comment{
    bottom: 0;
    right: 0;
    color:rgb(83, 82, 82,0.7);
    /* flex-direction:; */
}
.container>.line>.profile>.btn_group>.comment>i{
    font-size: 16px;
    padding: 10px;
    line-height: 25px;
}

.container>.line>.profile>.btn_group>.comment>span{
    font-size: 16px;
    line-height: 25px;
}



.container>.line>.dayline{
    border: 3px solid blue;
    width: 30%;
}

.container>.line>.introduce{
    /* border: 3px solid black; */
    width: 70%;
}

.container>.line>.introduce>.day{
    margin: 10px 1px;
    font-size: 10px;
    background-color: #f12f8a;
    color: white;
    font-weight: bolder;
    padding: 5px 5px;
    text-align: center;
    width: 35px;
    border-radius:9px;
}

.container>.line>.introduce>.title{
    margin: 5px 0px;
    font-size: 10px;
    font-weight: bolder;
    
    line-height: 18px;
    /* padding: 0 10px; */
}

.container>.line>.introduce>.title>i{
    margin-right:5px;
    font-size: 18px;
    line-height: 18px;
    /* padding: 0 10px; */
}



.container>.line>.introduce>.album{
    width: 95%;
    margin: auto;   
    display: flex;
    flex-wrap: wrap;
}

.container>.line>.introduce>.album>img{
    margin: 1px;
    width: 33%;
    height: 33%;    
}

.container>.line>.introduce>.text{
    margin: 15px 0;
    font-size: 10px;  
    line-height: 20px;
}





.container>.line>.commend{
    /* border: 3px solid purple; */
    width: 30%;
}

.container>.line>.commend>.title{
    font-weight: bolder;
    border-bottom: 2px solid #d6d3d3f3 ;
    padding: 3px;
}
.container>.line>.commend>.obj_group{
    margin: 15px;
    display: flex;
    align-items: flex-start;
}
.container>.line>.commend>.obj_group>img{
    border-radius: 60px;
}

.container>.line>.commend>.obj_group>.text>a{
    margin: 0 6px;
    font-size: 8px;
    color: rgb(241, 48, 167);
    font-weight: bolder;
    text-decoration: none;
}
.container>.line>.commend>.obj_group>.text{
    margin: 0 10px;
    display: flex;
    direction: row;
    flex-wrap: wrap;
}
.container>.line>.commend>.obj_group>.text>.name{
    font-weight: bolder;
    font-size: 14px;
}

.container>.line>.commend>.obj_group>.text>.info{
    font-weight: bolder;
    margin: 5px 0px;
    font-size: 12px;
    color: rgba(77, 74, 74, 0.45);
}