$btn_color:white;
$primary_color:#d57f7e;
$element_width:400px;
$background_color:rgb(83, 82, 82);
$object_width:850px;
$list:black,red,blue,green,rgb(119, 119, 26);
$random-color: random(length($list));
$text_border: 1px solid nth($list, $random-color);

@font-face {
    font-family: 'oxxo';
    src: url('../fonts/jf-openhuninn-1.1.ttf');
}

%input{
    outline:none;
    width: $element_width ;
    // padding-left: 40px;
    font-size: 20px;
    border: none;
    border-bottom: 3px solid rgba(192, 190, 190,0.6);
    line-height: 50px;
    background-size: 20px 20px;
    background-repeat: no-repeat;
    background-position: right;  
    opacity: .5;
    &:focus{
        border-bottom: 3px solid black;
        background: none;
    }
}

*{
    margin: 0; 
    padding: 0;   
}

body{
    font-family:'oxxo';
    margin: auto;
    background-image: url('https://picsum.photos/1920/1080?random=6');
    &:before{
        content:'';
        position:absolute;
        top: 0;right: 0;left: 0;bottom: 0;
        background: rgba(18, 17, 29, 0.8);
        z-index:1;
    } 
    .background{
        position:relative;
        margin:150px auto;
        margin-bottom: 20px;
        width: $object_width;
        height: 500px;
        border-radius: 10px;
        border-radius: 5px;
        background-image: url('https://picsum.photos/850/500?random=8');
        z-index: 1;
        &:before{
            content:'';
            position:absolute;
            top: 0;right: 0;left: 0;bottom: 0;
            background: rgba(226, 154, 154,0.8);
            z-index:1;
        }
        .wrap{
            display: flex;
            top: -90px;
            position:relative;
            flex-direction: column;
            width: $element_width+20px;
            margin: 0 auto;
            height: 600px;
            background-color: white;
            z-index: 2;
            border-radius: 10px;
            box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
            .logo{
                border-top-left-radius:10px;
                border-top-right-radius:10px;
                font-size: 70px;
                height: 100px;
                font-weight: bolder;  
                background-color: rgb(238, 237, 237);; 
                color:$primary_color;
                border-bottom:  2px solid #c5c5c5;
                text-shadow:
                    -1px -1px 0 #000,
                    1px -1px 0 #000,
                    -1px 1px 0 #000,
                    1px 1px 0 #000,
                    3px 3px 3px black;
                // -webkit-text-stroke: 0.5px black;
                p{
                    width: 230px;
                    margin: 15px auto ;
                }             
            }
            .content{
                width: 420px;
                height: 550px;
                // overflow: hidden;
                // position: relative;
            }
            .sub{
                margin: 0 auto;
                text-align:center;
                // position: absolute;
                // transition: transform 0.1s ease-out;

                // &:hover .wrap1 {
                //     transform: translate(0, 150%);
                // }
                // &:hover .wrap2 {
                //     transform: translate(0, -125%);
                // }
                .icon{
                    width: 200px;
                    height: 200px;
                    margin:20px auto;
                    img{
                        width: 200px;
                        height: 200px;
                    }
                }
                .title{
                    width: 230px;
                    font-size: 25px;
                    margin: 0 auto;
                    font-weight: bolder;  
                }
                .title2{
                    width: 330px;
                }
                .description{
                    width: 380px;
                    margin: 0 auto;
                    margin: 30px;
                }
                >input{
                    padding-left: 10px;
                    width: $element_width - 55px;
                    font-size: 25px;
                    line-height: 40px;
                    border-radius: 5px;
                    margin: 10px auto;
                }

                .btn_group{
                    // margin: 15px auto;
                    height: 50px;
                    a.cancel{
                        font-size: 20px;
                        width: 120px;
                        height: 20px;
                        margin: 0 15px;
                        text-decoration: none;
                        font-weight: bolder;
                        border-radius: 5px;
                        padding: 10px 55px;
                        background: rgb(238, 237, 237);
                        color: #adadad;         
                        border: 2px solid rgb(167, 164, 164);
                    }
                    button.passmail{
                        font-weight: bolder;
                        padding: 10px 55px;
                        margin: 0 15px;
                        background: $primary_color;
                        color: white;  
                        border-radius: 5px;
                        font-size: 20px;       
                        border: 2px solid rgb(167, 164, 164);
                    }
                    a.pass{
                        display: block;
                        text-align:center;
                        line-height: 40px;
                        margin: 0 auto;
                        font-size: 20px;
                        font-weight: bolder;
                        width: 360px;
                        text-decoration: none;
                        color: white;
                        border-radius: 5px;
                        // padding: 10px 55px;
                        background: $primary_color;
                        border: 2px solid rgb(167, 164, 164);
                        &.back{
                            display: block;
                            margin: 10px auto;
                            background: rgb(238, 237, 237);
                            color: #adadad;     
                        }
                    }
                    // button.back{
                    //     width: 275px;
                    //     height: 44px;
                    //     font-weight: bolder;
                    //     margin: 30px;
                    //     font-size: 20px;
                    //     border-radius: 5px;
                    //     padding: 0;
                    //     font-weight: bolder;
                    //     text-decoration: none;
                    //     background: rgb(238, 237, 237);
                    //     color: #adadad;   
                    //     border: 2px solid rgb(167, 164, 164);
                    // }
                }
            }
        }
    }   
    .header{
        margin:150px auto;
        margin-bottom: 0px;
        width: $object_width;
        border-radius: 10px;
        height: 500px;
        display: flex;
        flex-direction: row;
        border: 2px solid black;
        border-radius: 5px;
        .left{
            position:relative;
            width: $object_width *4/9;
            height: 500px;
            // background-color: rgba(226, 154, 154,0.5);
            // background-image: url('../img/background/login.jpeg');
            background-image: url('https://picsum.photos/500/500?random=7');
            &:before{
                content:'';
                position:absolute;
                top: 0;right: 0;left: 0;bottom: 0;
                background: rgba(226, 154, 154,0.8);
                z-index:1;
            }
            .wrap{
                text-align: center;
                position:relative;
                z-index: 2;
                display: flex;
                flex-direction: column;
                margin: 0 auto;
                .logo>img{
                    content: " ";
                    width: 150px;
                    height: 150px;
                }
                #welcome{
                    .title{
                        font-weight: bolder;
                        color:rgba($color: #f7f7f7, $alpha:0.9);
                        font-size: 40px;
                    }
                    .description{
                        font-size: 25px;
                        color:rgba($color: #f7f7f7, $alpha:0.6);
                    }
                }
                #introduce{
                    text-align: left;
                    margin: 80px auto;
                    margin-bottom: 0;
                    bottom: 30px;
                    >li{
                        font-size: 16px;
                        margin: 15px 0;
                        color:rgba($color: #f7f7f7, $alpha:0.8);
                    }
                }
            }
        }
        .right{
            position:relative;
            z-index:2;
            width: $object_width *5/9;
            height: 500px;
            // border: $text_border;
            display: flex;
            background-color: white;
            flex-direction: column;
            .wrap{
                width: $element_width+20px;
                margin: 0 auto;
                .title{
                    font-size: 40px;
                    padding: 0 ;
                    font-weight: bolder;
                    color: rgba(192, 190, 190,0.6);
                    margin: 40px 0px;
                    .login{
                        color: $primary_color;
                    }
                    .signup{
                        color: rgba(192, 190, 190,0.6);
                    }
                }
                .input_group{
                    width: $element_width;
                    margin: 0 ;
                    padding: 5px 0px;
                    .error_msg{
                        padding-left: 20px;
                        width: $element_width;
                        height: 40px;
                        font-size: 20px;
                        border-radius: 10px;
                        line-height: 40px;
                    }
                }
                input#acc{
                    @extend %input;
                    background-image:url("../img/icon/user.svg");
                }
                input#pwd{
                    @extend %input;
                    background-image:url("../img/icon/key.svg");
                }
                .button_group{
                    display: flex;
                    flex-direction: row;
                    justify-content: space-between;
                    margin: 40px 0;
                    margin-bottom: 0px;
                    button.login_btn{
                        font-size: 20px;
                        font-weight: bolder;
                        color: $primary_color;
                        border:4px solid $primary_color;
                        padding: 10px 20px;
                        background-color: white;
                        border-radius:  40px;   
                    }
                    .other_way{
                        display: flex;
                        flex-direction: row;
                        .description{
                            font-size: 20px;
                            font-weight: none;
                            color: rgba(192, 190, 190,0.6);
                            line-height: 40px;
                            width:140px;
                            flex-wrap: none;
                        }
                        img{
                            margin: 0 10px;
                        }
                    }
                }
                

            }

        }
    }
    .footer{
        position:relative;
        z-index: 2;
        margin:20px auto;
        text-align: center;
        padding-right: 80px;
        >a{
            text-decoration: none;
            font-size: 25px;
            color: white;
            >.tag{
                font-weight: bolder;
            }
        }

    }
}