<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
        <script src="https://unpkg.com/vue-router/dist/vue-router.js"></script>
        <script src="https://kit.fontawesome.com/2a41585493.js" crossorigin="anonymous"></script>
        <link rel="stylesheet" href="./css/reset.css">
        <link id="stylesheet" rel="stylesheet" href="/style/style2.css">
        <meta name="viewport" content="width=device-width, initial-scale=0.4,user-scalable=no" />
        <title>Trappy</title>
    </head>
    <body >
        <div id="app">
            <!-- <link v-if="route=='home'" href="./style/style2.css" rel="stylesheet" >
            <link v-if="route=='signin'" href="../style/style_login.css" rel="stylesheet" >
            <link v-if="route=='signup'" href="../style/style_login.css" rel="stylesheet" > 
            該方法缺陷,route在跳轉router時不會重新運算,無法出現
            -->
            
            <router-view name="nav" class="view one"></router-view>
            <router-view name="main" class="view one"></router-view>
            <router-view name="footer" class="view one"></router-view>


                <!-- <img class="banner" src='https://picsum.photos/960/500' alt=""> -->

            <div v-show="css.black_block.display" class="block" @click="close_other">
                
            </div>

            <div  v-show="css.top_anno.display" class="top_anno">
                <div class="t_group">
                    <img class="icon" src='./icon.jpg'  alt=""> 
                    <p class="title">TRAPPY 規劃</p>
                </div>
                <img class="map_icon" src="./map_icon.png" alt="">
                <p class="intro">只需選擇目的地與出發日期就能規劃旅遊行程</p>
                <a class="button" href="#">建立行程</a>
                <a class="text" href="#">看其他人去哪裡玩</a>
            </div>
        </div>    
    </div>
    </body>
    <script src="https://unpkg.com/vue/dist/vue.js"></script>
    <script src="https://unpkg.com/vue-router/dist/vue-router.js"></script>
    <!-- The core Firebase JS SDK is always required and must be listed first -->
    <script src="https://www.gstatic.com/firebasejs/8.8.1/firebase-app.js"></script>

    <!-- TODO: Add SDKs for Firebase products that you want to use
        https://firebase.google.com/docs/web/setup#available-libraries -->
    <script src="https://www.gstatic.com/firebasejs/8.8.1/firebase-analytics.js"></script>
    <script src="https://www.gstatic.com/firebasejs/8.8.1/firebase-auth.js"></script>
    <script src="https://www.gstatic.com/firebasejs/8.8.1/firebase-storage.js"></script>
    <script src="https://www.gstatic.com/firebasejs/8.8.1/firebase-firestore.js"></script>

    <script>
        // Your web app's Firebase configuration
        // For Firebase JS SDK v7.20.0 and later, measurementId is optional
        var firebaseConfig = {
            apiKey: "AIzaSyCnaXJTLr_ULfPKHBaAC830N1RUGRgYJGU",
            authDomain: "trappy-b8aa6.firebaseapp.com",
            projectId: "trappy-b8aa6",
            storageBucket: "trappy-b8aa6.appspot.com",
            messagingSenderId: "478885872270",
            appId: "1:478885872270:web:4b26aefa07146eb589bfdf",
            measurementId: "G-9Z47DEXD65"
        };
        // Initialize Firebase
        firebase.initializeApp(firebaseConfig);
        firebase.analytics();
        const db = firebase.firestore();
    </script>
    <script type="module" src="./js/index.js"></script>
    
</html>
