<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./css/reset.css">
    <link href="./css/style.css" rel="stylesheet">
    <script src='https://cdnjs.cloudflare.com/ajax/libs/vue/2.6.9/vue.js' integrity='sha512-o9SZrtqlGkpa7EF+dDrNjEdRFFYhymlrBzDKpolHNolxsyx0IcXAbEm9i1e8QpoiMgEdKZVtY8XiK1t8i6jVDA==' crossorigin='anonymous'></script>
    <title>註冊帳號</title>
</head>
<body>
    <div id="app">
    <nav>
        <div class="logo_group" @click="go_home">
            <img class="icon" src="./icon.jpg" alt="">
            <p class="title">TRAPPY</p>
        </div>
        <ul>    
            <li><a href="javascript:void(0)" @click="open_signin_window">帳戶</a></li>
            <li><a href="javascript:void(0)" @click="open_travel_window">行程</a></li>
            <li><a href="">聊天</a></li>
            <li><a href="">通知</a></li>
            <li><a href="">下載</a></li>
            <li><a href="">關於我們</a></li>
        </ul>
    </nav>
    <div v-show="css.black_block.display" class="block" @click="close_other">
                
    </div>
    <div  v-show="css.signin.display" class="signin">
        <div class="t_group">
            <div class="wrap">
                <img class="icon" src='./icon.jpg'  alt="">
                <p class="title">登入TRAPPY</p>
            </div>
            <div class="account">
                <p>帳號:</p>
                <input v-model='p_data["acc"]' type="text" name="acc" id="acc">
            </div>
            <div class="pwd">
                <p>密碼:</p>
                <input v-model='p_data["pwd"]' type="password" name="pwd" id="pwd">
            </div>
            <img src="./img/btn/email_lg.png" @click="mail_login">
            <img src="./img/btn/fb_lg.png" alt="">
            <img src="./img/btn/google_lg.png" alt="">
            
        
        </div>
    </div>

    <div  v-show="css.top_anno.display" class="top_anno">
        <div class="t_group">
            <img class="icon" src='./icon.jpg'  alt=""> 
            <p class="title">TRAPPY 規劃</p>
        </div>
        <img class="map_icon" src="./map_icon.png" alt="">
        <p class="intro">只需選擇目的地與出發日期就能規劃旅遊行程</p>
        <a class="button" href="#">建立行程</a>
        <a class="text" href="#">看其他人去哪裡玩</a>
    </div>

    <div class="signup">
        <div class="container">
            <div class="list">
                <div class="profile">
                    <div class="photo">
                        <img class="big" src='https://picsum.photos/120/120' alt="">
                        <img class="sm" src="./img/icon/camera.svg" alt="">
                        <div class="lname">張君雅</div>
                    </div> 
                    <div class="login_mode">
                        <img src="./img/icon/fb_sq.svg" alt="">
                        <p class="tname">Facebook</p>
                        <!-- <div class="checkmark"></div> -->
                        <img class="checkmark" src="./img/icon/checkmark.svg" alt="">
                    </div>
                </div>
                <div class="setting">
                    <ul>
                        <li>帳號設定</li>
                        <li>通知設定</li>
                        <li>我的收藏</li>
                        <li>旅遊紀錄</li>
                    </ul>
                </div>
            </div>
            
            <div class="data">
                <div class="title">帳號設定</div>
                
                
                <div class="nav">
                    <li>基本資料</li>
                    <li>常用旅客</li>
                </div>
            
                <div class="info">      
                    <div class="group">
                        <div class="title">名字</div>
                        <input type="text">
                    </div>
                    <div class="group">
                        <div class="title">姓氏</div>
                        <input type="text">
                    </div>
                    <div class="group">
                        <div class="title">性別</div>
                        <input type="text">
                    </div>
                    <div class="group">
                        <div class="title">暱稱</div>
                        <input type="text">
                    </div>
                    <div class="group">
                        <div class="title">生日</div>
                        <input type="text">
                    </div>
                    <div class="group">
                        <div class="title">居住地</div>
                        <input type="text">
                    </div>
                    <div class="group">
                        <div class="title">電話</div>
                        <input type="text">
                    </div>
                    <div class="group">
                        <div class="title">E-MAIL</div>
                        <input type="text">
                    </div>
                </div>
                <a href="#" class="button">儲存</a>
            </div>
        </div>
    </div>

    <div class="footer">
        <div class="wrap">
            <ul>
                <li><a href="">關於TRAPPY</a></li>
                <li><a href="">關於我們</a></li>
                <li><a href="">聯絡我們</a></li>
                <li><a href="">服務條款</a></li>
                <li><a href="">隱私政策</a></li>
            </ul>

            <ul>
                <li><a href="">相關連結</a></li>
                <li><a href="">AndroidApp</a></li>
                <li><a href="">粉絲專頁</a></li>
                <li><a href="">Instgram</a></li>
            </ul>
            
            <ul>
                <li class="icon">
                    <img class="fb" src="./img/icon/fb.svg" alt="">
                    <img class="ig" src="./img/icon/ig.svg" alt="">
                </li>
                <li>
                    <img class="googleplay" src="./img/icon/googleplay.png" alt="">
                </li>
            </ul>

            <ul>
            </ul>
        
        </div>
    </div>
    </div>
    <script src="./js/index.js"></script>
</body>
</html>