@font-face {
  font-family: 'oxxo';
  src: url("../fonts/jf-openhuninn-1.1.ttf");
}

body .header .right .wrap input#acc, body .header .right .wrap input#pwd {
  outline: none;
  width: 400px;
  font-size: 20px;
  border: none;
  border-bottom: 3px solid rgba(192, 190, 190, 0.6);
  line-height: 50px;
  background-size: 20px 20px;
  background-repeat: no-repeat;
  background-position: right;
  opacity: .5;
}

body .header .right .wrap input#acc:focus, body .header .right .wrap input#pwd:focus {
  border-bottom: 3px solid black;
  background: none;
}

* {
  margin: 0;
  padding: 0;
}

body {
  font-family: 'oxxo';
  margin: auto;
  background-image: url("https://picsum.photos/1920/1080?random=6");
}

body:before {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  background: rgba(18, 17, 29, 0.8);
  z-index: 1;
}

body .background {
  position: relative;
  margin: 150px auto;
  margin-bottom: 20px;
  width: 850px;
  height: 500px;
  border-radius: 10px;
  border-radius: 5px;
  background-image: url("https://picsum.photos/850/500?random=8");
  z-index: 1;
}

body .background:before {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  background: rgba(226, 154, 154, 0.8);
  z-index: 1;
}

body .background .wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  top: -90px;
  position: relative;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 420px;
  margin: 0 auto;
  height: 600px;
  background-color: white;
  z-index: 2;
  border-radius: 10px;
  -webkit-box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
          box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
}

body .background .wrap .logo {
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  font-size: 70px;
  height: 100px;
  font-weight: bolder;
  background-color: #eeeded;
  color: #d57f7e;
  border-bottom: 2px solid #c5c5c5;
  text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000, 3px 3px 3px black;
}

body .background .wrap .logo p {
  width: 230px;
  margin: 15px auto;
}

body .background .wrap .content {
  width: 420px;
  height: 550px;
}

body .background .wrap .sub {
  margin: 0 auto;
  text-align: center;
}

body .background .wrap .sub .icon {
  width: 200px;
  height: 200px;
  margin: 20px auto;
}

body .background .wrap .sub .icon img {
  width: 200px;
  height: 200px;
}

body .background .wrap .sub .title {
  width: 230px;
  font-size: 25px;
  margin: 0 auto;
  font-weight: bolder;
}

body .background .wrap .sub .title2 {
  width: 330px;
}

body .background .wrap .sub .description {
  width: 380px;
  margin: 0 auto;
  margin: 30px;
}

body .background .wrap .sub > input {
  padding-left: 10px;
  width: 345px;
  font-size: 25px;
  line-height: 40px;
  border-radius: 5px;
  margin: 10px auto;
}

body .background .wrap .sub .btn_group {
  height: 50px;
}

body .background .wrap .sub .btn_group a.cancel {
  font-size: 20px;
  width: 120px;
  height: 20px;
  margin: 0 15px;
  text-decoration: none;
  font-weight: bolder;
  border-radius: 5px;
  padding: 10px 55px;
  background: #eeeded;
  color: #adadad;
  border: 2px solid #a7a4a4;
}

body .background .wrap .sub .btn_group button.passmail {
  font-weight: bolder;
  padding: 10px 55px;
  margin: 0 15px;
  background: #d57f7e;
  color: white;
  border-radius: 5px;
  font-size: 20px;
  border: 2px solid #a7a4a4;
}

body .background .wrap .sub .btn_group a.pass {
  display: block;
  text-align: center;
  line-height: 40px;
  margin: 0 auto;
  font-size: 20px;
  font-weight: bolder;
  width: 360px;
  text-decoration: none;
  color: white;
  border-radius: 5px;
  background: #d57f7e;
  border: 2px solid #a7a4a4;
}

body .background .wrap .sub .btn_group a.pass.back {
  display: block;
  margin: 10px auto;
  background: #eeeded;
  color: #adadad;
}

body .header {
  margin: 150px auto;
  margin-bottom: 0px;
  width: 850px;
  border-radius: 10px;
  height: 500px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  border: 2px solid black;
  border-radius: 5px;
}

body .header .left {
  position: relative;
  width: 377.77778px;
  height: 500px;
  background-image: url("https://picsum.photos/500/500?random=7");
}

body .header .left:before {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  background: rgba(226, 154, 154, 0.8);
  z-index: 1;
}

body .header .left .wrap {
  text-align: center;
  position: relative;
  z-index: 2;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 0 auto;
}

body .header .left .wrap .logo > img {
  content: " ";
  width: 150px;
  height: 150px;
}

body .header .left .wrap #welcome .title {
  font-weight: bolder;
  color: rgba(247, 247, 247, 0.9);
  font-size: 40px;
}

body .header .left .wrap #welcome .description {
  font-size: 25px;
  color: rgba(247, 247, 247, 0.6);
}

body .header .left .wrap #introduce {
  text-align: left;
  margin: 80px auto;
  margin-bottom: 0;
  bottom: 30px;
}

body .header .left .wrap #introduce > li {
  font-size: 16px;
  margin: 15px 0;
  color: rgba(247, 247, 247, 0.8);
}

body .header .right {
  position: relative;
  z-index: 2;
  width: 472.22222px;
  height: 500px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: white;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

body .header .right .wrap {
  width: 420px;
  margin: 0 auto;
}

body .header .right .wrap .title {
  font-size: 40px;
  padding: 0;
  font-weight: bolder;
  color: rgba(192, 190, 190, 0.6);
  margin: 40px 0px;
}

body .header .right .wrap .title .login {
  color: #d57f7e;
}

body .header .right .wrap .title .signup {
  color: rgba(192, 190, 190, 0.6);
}

body .header .right .wrap .input_group {
  width: 400px;
  margin: 0;
  padding: 5px 0px;
}

body .header .right .wrap .input_group .error_msg {
  padding-left: 20px;
  width: 400px;
  height: 40px;
  font-size: 20px;
  border-radius: 10px;
  line-height: 40px;
}

body .header .right .wrap input#acc {
  background-image: url("../img/icon/user.svg");
}

body .header .right .wrap input#pwd {
  background-image: url("../img/icon/key.svg");
}

body .header .right .wrap .button_group {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 40px 0;
  margin-bottom: 0px;
}

body .header .right .wrap .button_group button.login_btn {
  font-size: 20px;
  font-weight: bolder;
  color: #d57f7e;
  border: 4px solid #d57f7e;
  padding: 10px 20px;
  background-color: white;
  border-radius: 40px;
}

body .header .right .wrap .button_group .other_way {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

body .header .right .wrap .button_group .other_way .description {
  font-size: 20px;
  font-weight: none;
  color: rgba(192, 190, 190, 0.6);
  line-height: 40px;
  width: 140px;
  -ms-flex-wrap: none;
      flex-wrap: none;
}

body .header .right .wrap .button_group .other_way img {
  margin: 0 10px;
}

body .footer {
  position: relative;
  z-index: 2;
  margin: 20px auto;
  text-align: center;
  padding-right: 80px;
}

body .footer > a {
  text-decoration: none;
  font-size: 25px;
  color: white;
}

body .footer > a > .tag {
  font-weight: bolder;
}
/*# sourceMappingURL=style_login.css.map */