@font-face {
  font-family: 'oxxo';
  src: url("../fonts/jf-openhuninn-1.1.ttf");
}

.logo_group {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.logo_group > .icon {
  width: 50px;
  height: 50px;
}

.logo_group > .title {
  letter-spacing: 3px;
  font-weight: bolder;
  padding: 0px 7px;
}

nav {
  width: 960px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: auto;
  padding-top: 10px;
  margin-bottom: 5px;
}

nav .link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

nav .link > a {
  color: black;
  font-weight: bolder;
  text-decoration: none;
  padding: 0 15px;
  line-height: 50px;
}

nav .link > a > .user {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  line-height: 50px;
}

nav .link > a > .user img {
  width: 50px;
  height: 50px;
  border-radius: 30px;
}

nav .link > a > .user .word_pic {
  font-size: 30px;
  color: blue;
  text-align: center;
  width: 50px;
  height: 50px;
  border-radius: 30px;
  background-color: #d67f7f;
}

body {
  font-family: 'oxxo';
  margin: 0;
  padding: 0;
  background-color: #f5f5f5;
}

* {
  margin: 0;
  padding: 0;
}

.container {
  margin: auto;
  width: 960px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.container .left {
  background-color: #f5f5f5;
  margin: 30px 4px;
  margin-bottom: 0px;
  width: 316.8px;
  height: 550px;
  border-radius: 15px;
}

.container .left .article_group {
  height: 420px;
  overflow-y: scroll;
}

.container .left .article_group > h1 {
  margin: 10px 0;
  text-align: center;
  display: block;
  font-size: 30px;
  font-weight: bolder;
}

.container .left .article_group > li {
  height: 70px;
  margin: 10px 0;
  text-decoration: none;
  list-style: none;
}

.container .left .article_group > li > .wrap {
  margin: 0 auto;
  position: relative;
  width: 300px;
  height: 70px;
  border-radius: 8px;
  overflow: hidden;
}

.container .left .article_group > li > .wrap img {
  border-radius: 8px;
}

.container .left .article_group > li > .wrap > .banner-txt {
  width: 300px;
  height: 70px;
  top: 0px;
  position: absolute;
  left: 0px;
  border-radius: 8px;
  background: linear-gradient(45deg, black, transparent 70%) left center;
  height: 100%;
  z-index: 2;
}

.container .left .article_group > li > .wrap > .banner-txt:hover {
  background: none;
}

.container .left .article_group > li > .wrap > .banner-txt > h6 {
  width: 300px;
  position: absolute;
  margin-left: 10px;
  bottom: 10px;
  font-weight: normal;
  color: white;
  -webkit-text-stroke: 0.5px #fff;
}

.container .left nav.action_bar {
  width: 320px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-bottom: 1px solid #c4c4c4;
  height: 80px;
}

.container .left nav.action_bar .nav {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  margin-top: 20px;
  color: #c4c4c4;
}

.container .left nav.action_bar .nav .logo {
  text-align: center;
  color: #c4c4c4;
}

.container .left nav.action_bar .nav .logo span {
  border: 3px solid #c4c4c4;
  border-radius: 70px;
}

.container .left nav.action_bar .nav .logo span.lnr {
  padding: 10px;
  text-align: center;
  font-weight: bolder;
  margin: 20px 0;
}

.container .left nav.action_bar .nav .btn {
  color: #c4c4c4;
  text-align: center;
  font-weight: bold;
  margin: 13px 0;
}

.container .left nav.action_bar .nav:hover .logo, .container .left nav.action_bar .nav:hover .btn {
  color: #f69292;
}

.container .left nav.action_bar .nav:hover .logo > span, .container .left nav.action_bar .nav:hover .btn > span {
  border: 3px solid #f69292;
}

.container .left .introduce {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 15px auto;
  margin-top: 10px;
  height: 420px;
  overflow-y: scroll;
}

.container .left .introduce h1 {
  margin: 20px 0;
  text-align: center;
  display: block;
  font-size: 30px;
  font-weight: bolder;
}

.container .left .introduce h6 {
  margin: 0 5px;
  text-indent: 2em;
  line-height: 20px;
}

.container .left .introduce .info {
  margin: 0 auto;
  height: 0;
}

.container .left .introduce .info > h6 {
  font-size: 14px;
  text-indent: 0;
  margin: 5px 0px;
  font-weight: bolder;
}

.container .left .introduce .info span.lnr {
  margin: 0 5px;
}

.container .right {
  margin: 30px 4px;
  margin-bottom: 0px;
  width: calc( 960px*2/3 - 10px);
  height: 500px;
  position: relative;
}

.container .right #map {
  border-radius: 30px;
  width: calc( 960px*2/3 - 10px);
  height: 540px;
}

.container .right .photo .album {
  margin-left: 10px;
  border-radius: 30px;
  height: 500px;
  width: inherit;
  overflow: hidden;
}

.container .right .photo .album > img {
  height: 500px;
}

.container .right .photo .zoom {
  margin: 0 2;
  width: 680px;
  border-radius: 20px;
  height: 70px;
  position: absolute;
  bottom: 0px;
  left: 0px;
  z-index: 2;
}

.container .right .photo .zoom ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0 auto;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.container .right .photo .zoom ul li {
  list-style: none;
}

.container .right .photo .zoom ul li > img {
  border-radius: 5px;
  margin: 5px;
  width: 70px;
  height: 40px;
  z-index: 2;
}

.container .right .photo .mask {
  margin-left: 10px;
  border-radius: 20px;
  border-top-right-radius: 0px;
  border-top-left-radius: 0px;
  background-position: center center;
  content: " ";
  width: calc( 960px*2/3 - 20px);
  height: 80px;
  position: absolute;
  bottom: 0px;
  left: 0px;
  background-color: rgba(0, 0, 0, 0.6);
  z-index: 1;
  background-size: cover;
}

hr.style-one {
  margin: 20px 0;
  border: 0;
  height: 1px;
  background-image: -webkit-gradient(linear, left top, right top, from(rgba(0, 0, 0, 0)), color-stop(rgba(0, 0, 0, 0.75)), to(rgba(0, 0, 0, 0)));
  background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0));
}

.bottom {
  margin: auto;
  margin-top: 8px;
  width: 960px;
  height: 100px;
  background-color: #f69292;
  padding: 10px 0;
}

.bottom .btn_group {
  width: 950px;
  height: 100px;
  margin: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.bottom .nav {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  margin: 5px 12px;
  background-color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-weight: bolder;
}

.bottom .nav > h3 {
  text-align: center;
}

.bottom .nav > h3 span {
  font-weight: bolder;
}

.bottom .nav img {
  margin: 0 auto;
  width: 20px;
  height: 20px;
  font-weight: bolder;
}

.bottom .nav:hover {
  background-color: #cecece;
  color: white;
}

.footer {
  width: 960px;
  margin: 0 auto;
  /* background: #e29a9a; */
}

.footer > .wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 40px 60px;
  background: #e29a9a;
}

.footer > .wrap > ul {
  margin-right: auto;
  letter-spacing: 3px;
}

.footer > .wrap > ul > li:first-child {
  font-weight: bolder;
}

.footer > .wrap > ul > li > a {
  text-decoration: none;
  font-size: 20px;
  color: white;
  line-height: 30px;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.footer > .wrap > ul > li.icon > img {
  width: 50px;
  height: 50px;
}

.footer > .wrap > ul > li > .googleplay {
  width: 150px;
  height: 60px;
}

.attr {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.attr > .title {
  margin: auto;
  margin-top: 60px;
  margin-bottom: 15px;
  width: 180px;
  color: #d67f7f;
  font-size: 45px;
  font-weight: bolder;
  padding-bottom: 10px;
  border-bottom: 3px solid #d67f7f;
}

.attr > li {
  height: 200px;
  margin: 10px 0;
}

.attr > li a > .wrap {
  margin: 0 auto;
  position: relative;
  width: 900px;
  height: 200px;
}

.attr > li a > .wrap img {
  border-radius: 8px;
  border-radius: 8px;
  border: 3px solid black;
}

.attr > li a > .wrap > .banner-txt {
  border: 3px solid black;
  width: 900px;
  top: 0px;
  position: absolute;
  left: 0px;
  border-radius: 8px;
  background: linear-gradient(45deg, black, transparent 70%) left center;
  height: 100%;
  z-index: 2;
}

.attr > li a > .wrap > .banner-txt:hover {
  background: none;
}

.attr > li a > .wrap > .banner-txt > h1 {
  position: absolute;
  margin-left: 10px;
  bottom: 10px;
  font-size: 40px;
  color: white;
  -webkit-text-stroke: 0.5px #fff;
}

.attr > li .more_btn {
  margin: auto;
  display: block;
  width: 200px;
  padding: 20px 20px;
  text-align: center;
  text-decoration: none;
  background: #f1eeeef6;
  font-size: 40px;
  border-radius: 10px;
  color: #54514e;
  font-weight: bolder;
}

.addedColor {
  color: #f69292 !important;
  border-color: #f69292 !important;
}
/*# sourceMappingURL=view.css.map */